<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anubhav.anubhav.projectmoviesapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/images"
        android:label="MOVIE LIST"
        android:roundIcon="@drawable/images"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.anubhav.anubhav.projectmoviesapp.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.anubhav.anubhav.projectmoviesapp.Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:authorities="com.anubhav.anubhav.projectmoviesapp"
            android:name="com.anubhav.anubhav.projectmoviesapp.MoviesDatabaseContractProvider"
            android:exported="false"/>



    </application>










</manifest>